# example config file
# 'proper' syntax with unproper number of spaces&tabs 

# string section

str_1="kabanosy git gut"
str_2="kabanosy" "" XD"
str_3="192.168.1.1"
    str_4    =   "Peter" 
str_5 =   "Griffin"             

# int section

i_1=    2147483647
i_2 =-2147483647
    i_3=0
    i_4 =   1

# float section
f_1 =    0.5
f_2=            -0.5
    f_3=    .123456789      
            f_4=-.123456789

# bool section

b_1=    true
b_2 =false

# end